body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.container {
    display: flex;
    width: 100%;
}
#leftDiv {
    width: 280px;
    background-color: #f1f1f1;
    padding: 10px;
    flex-shrink: 0; /* Prevent shrinking */
}
#rightDiv {
    flex-grow: 1;
    padding: 15px;
    overflow: auto; /* Ensure content is scrollable if it overflows */
}
.divider {
    width: 3px;
    background-color: lightblue;
    cursor: ew-resize;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    margin-bottom: 5px; /* Add spacing between items */
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li > ul {
    padding-left: 15px; /* Add padding to submenus */
}
li > a {
    font-size: 16px; /* Default font size */
}
li > a.main-menu {
    font-size: 18px; /* Increase font size by 2 points */
    font-weight: bold; /* Make it bold */
}
