.main-body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex;
    line-height: 2;
}

#leftDiv {
    background-color: #f1f1f1;
    width: 300px;
    height: 100vh;
    position: fixed;
    transition: width 0.3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: auto;
}
#leftDiv.collapsed {
    width: 0;
}
#rightDiv {
    flex-grow: 1;
    margin-left: 300px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    transition: margin-left 0.3s;
    overflow: auto; /* Ensure content is scrollable if it overflows */
    justify-content: left; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}
#rightDiv.collapsed {
    margin-left: 0;
}
#toggleButton {
    position: absolute;
    top: 10px;
    left: 300px;
    cursor: pointer;
    background-color: darkgrey;
    color: white;
    border: none;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#toggleButton.collapsed {
    left: 0;
}

.content-wrapper {
    text-align: justify; /* Center the text */
}

.divider {
    width: 1px;
    background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    margin-bottom: 5px; /* Add spacing between items */
}
li a {
    display: block;
    color: #000;
    padding: 0px 4px;
    text-decoration: none;
}

li > ul {
    padding-left: 15px; /* Add padding to submenus */
}
li > a {
    font-size: 16px; /* Default font size */
}
li > a.main-menu {
    font-size: 18px; /* Increase font size by 2 points */
    font-weight: bold; /* Make it bold */
}
li > a.artifact {
    padding-left: 15px;
}
li > a.artifact:hover {
    color: lightblue; /* Change text color on hover */
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
  
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
  
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}
  
/* Hide the nested list */
.nested {
    display: none;
}
  
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

/* not in use */
  .styled-button {
    background-color: #007BFF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  .styled-button:hover {
    background-color: #0056b3;
  }

/* Azure Front Door */

  .styled-dropdown {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .styled-dropdown:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
  }

  details summary {
    cursor: pointer;
    font-weight: bold;
  }

  details[open] summary::after {
    content: "▲";
    float: right;
  }

  details summary::after {
    content: "▼";
    float: right;
  }

/* Reorder list */
  .styled-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
  }

  .styled-list li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .styled-list li:hover {
    background-color: #e9e9e9;
  }

  button {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  #feedback-setup {
    margin-top: 10px;
    font-size: 16px;
  }

/*Styled dropdown */


  .styled-dropdown {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
  }

/*Check box*/
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
  }

  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

/*Input box - Textbox */

  .input-box {
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    transition: border-color 0.3s;
  }

  .input-box:focus {
    border-color: #007bff;
    outline: none;
  }

  #result, #result1, #result2, #result3, #result4, #result5 , #result6 {
    font-size: 20px;
    margin-top: 20px;
  }

  #result.correct, #result1.correct, #result2.correct, #result3.correct, #result4.correct, #result5.correct,#result6.correct {
    color: blue;
  }

  #result.incorrect, #result1.incorrect, #result2.incorrect, #result3.incorrect, #result4.incorrect, #result5.incorrect, #result6.incorrect {
    color: red;
  }

.footer {
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 5px;
    text-align: left;
}
.footer a {
    color: #0078d4;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
