<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/iengage/assets/css/style.css">
</head>
<body>
  <div class="container">
    <div class="resizable" id="leftDiv">
      <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}">Home</a></li>
        <li><a href="#" class="main-menu">Case Study</a>
          <ul>
            <li>AI
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Case Study" and file.sub-category == "AI" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Copilot
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Case Study" and file.sub-category == "Copilot" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Data
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Case Study" and file.sub-category == "Data" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Infra
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Case Study" and file.sub-category == "Infra" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Security
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Case Study" and file.sub-category == "Security" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="main-menu">Comic</a>
          <ul>
            <li>AI
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Comic" and file.sub-category == "AI" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Copilot
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Comic" and file.sub-category == "Copilot" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Data
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Comic" and file.sub-category == "Data" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Infra
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Comic" and file.sub-category == "Infra" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li>Security
              <ul>
                {% for file in site.pages %}
                  {% if file.category == "Comic" and file.sub-category == "Security" %}
                    <li>
                      <a href="/iengage/{{ file.url }}">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="divider" id="divider"></div>
    <div class="resizable" id="rightDiv">
      {{ content }}
    </div>
  </div>

  <script>
    const divider = document.getElementById('divider');
    const leftDiv = document.getElementById('leftDiv');
    const rightDiv = document.getElementById('rightDiv');

    let isResizing = false;

    divider.addEventListener('mousedown', (e) => {
      isResizing = true;
      document.addEventListener('mousemove', resize);
      document.addEventListener('mouseup', stopResize);
    });

    function resize(e) {
      if (isResizing) {
        const containerOffsetLeft = document.querySelector('.container').offsetLeft;
        const newLeftWidth = e.clientX - containerOffsetLeft;
        const newRightWidth = document.querySelector('.container').clientWidth - newLeftWidth - divider.offsetWidth;
        leftDiv.style.width = `${newLeftWidth}px`;
        rightDiv.style.width = `${newRightWidth}px`;
      }
    }

    function stopResize() {
      isResizing = false;
      document.removeEventListener('mousemove', resize);
      document.removeEventListener('mouseup', stopResize);
    }
  </script>
</body>
</html>
