<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/iengage/assets/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/iengage/assets/css/style.css">
  <link rel="stylesheet" href="/iengage/assets/css/catalog_style.css">
</head>
<body class="main-body border">
  <div class="container d-flex g-0 overflow-auto border">
    <div class="container row border">
      <div class="col-12 col-md-3 g-0 border" id="leftDiv">
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}" class="main-menu">Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/Catalog.html" class="main-menu">Catalog</a></li>
          <hr>
          <li><a class="main-menu">{{ site.menu_case_study }}</a>
            <ul>
              {% assign count = 0 %}
              {% for file in site.pages %}
                {% if file.category == site.menu_case_study and file.sub-category == site.sa_data_ai %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_data_ai }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_data_ai %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
                {% if file.category == site.menu_case_study and file.sub-category == site.sa_app_innov %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_app_innov }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_app_innov %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_case_study and file.sub-category == site.sa_sci %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_sci }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_sci %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_case_study and file.sub-category == site.sa_infra %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_infra }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_infra %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_case_study and file.sub-category == site.sa_workplace %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_workplace }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_workplace %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_case_study and file.sub-category == site.sa_migrate %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_migrate }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_case_study and file.sub-category == site.sa_migrate %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
          <hr>
          <li><a class="main-menu">{{ site.menu_comic }}</a>
            <ul>
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_data_ai %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_data_ai }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_data_ai %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_app_innov %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_app_innov }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_app_innov %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_sci %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_sci }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_sci %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_infra %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_infra }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_infra %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_workplace %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_workplace }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_workplace %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_comic and file.sub-category == site.sa_migrate %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_migrate }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_comic and file.sub-category == site.sa_migrate %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
          <hr>
          <li><a class="main-menu">{{ site.menu_gamification }}</a>
            <ul>
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_data_ai %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_data_ai }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_data_ai %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_app_innov %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_app_innov }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_app_innov %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_sci %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_sci }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_sci %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_infra %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_infra }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_infra %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_workplace %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_workplace }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_workplace %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
  
              {% assign count = 0 %}
              {% for file in site.pages %}
              {% if file.category == site.menu_gamification and file.sub-category == site.sa_migrate %}
                  {% assign count = count | plus: 1 %}
                {% endif %}
              {% endfor %}
              {% if count > 0 %}
                <li><span class="caret">{{ site.sa_migrate }}</span>
                  <ul class="nested">
                    {% for file in site.pages %}
                      {% if file.category == site.menu_gamification and file.sub-category == site.sa_migrate %}
                        <li>
                          <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
  
      <!-- <div class="divider" id="divider"></div> -->
  
      <div class="col-12 col-md-9 g-0" id="rightDiv">
        <div class="content-wrapper">
           {{ content }}
          <div class="footer">
              <p><a href="https://forms.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRwzpuuldNJ1Dh7kv7_FWVBRUOFdBRk1JUllPN0JUMVpGMEZDVFVETFUwNi4u&r0712f7305cf44745bce402fa04ca7ce0={{ page.title }}&r3fd228576ade413e81776abe37311fc8={{ page.category }}" target="_blank">Give us your feedback about this learning resource</a></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
  </script>
  <script src="/iengage/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
