<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3C6R55YXM2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3C6R55YXM2');
  </script>
  <link rel="stylesheet" href="/iengage/assets/css/style.css">
</head>
<body>
  <div class="container">
    <div class="resizable" id="leftDiv">
      <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}" class="main-menu">Home</a></li>
        <hr>
        <li><a class="main-menu">{{ site.menu_case_study }}</a>
          <ul>
            <li><span class="caret">{{ site.sa_data_ai }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_data_ai %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_app_innov }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_app_innov %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_sci }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_sci %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_infra }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_infra %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_workplace }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_workplace %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_migrate }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_case_study and file.sub-category == site.sa_migrate %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li><a class="main-menu">{{ site.menu_comic }}</a>
          <ul>
            <li><span class="caret">{{ site.sa_data_ai }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_data_ai %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_app_innov }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_app_innov %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_sci }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_sci %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_infra }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_infra %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_workplace }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_workplace %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_migrate }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_comic and file.sub-category == site.sa_migrate %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
        <hr>
        <li><a class="main-menu">{{ site.menu_gamification }}</a>
          <ul>
            <li><span class="caret">{{ site.sa_data_ai }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_data_ai %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_app_innov }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_app_innov %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_sci }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_sci %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_infra }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_infra %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_workplace }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_workplace %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><span class="caret">{{ site.sa_migrate }}</span>
              <ul>
                {% for file in site.pages %}
                  {% if file.category == site.menu_gamification and file.sub-category == site.sa_migrate %}
                    <li>
                      <a href="/iengage/{{ file.url }}" class="artifact">{{ file.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="divider" id="divider"></div>
    <div class="resizable" id="rightDiv">
      {{ content }}
    </div>
  </div>

  <script>
    var toggler = document.getElementsByClassName("caret");
    var i;
    
    for (i = 0; i < toggler.length; i++) {
      toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
      });
    }
  </script>
</body>
</html>
